@model Empathy.Data.Entities.Sede

@{
    ViewData["Title"] = "Create";
}

<h1>Crear nueva sede</h1>

<h4>Sede</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NameCampus" class="control-label"></label>
                <input asp-for="NameCampus" class="form-control" />
                <span asp-validation-for="NameCampus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhtoneCampus" class="control-label"></label>
                <input asp-for="PhtoneCampus" class="form-control" />
                <span asp-validation-for="PhtoneCampus" class="text-danger"></span>
            </div>
            
            <div class="form-group mt-2">
                <input type="submit" value="Create" class="btn btn-outline-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <div class="form-group mt-2">
    <a asp-action="Index" class="btn btn-outline-success">Regresar</a>
</div>

