@model Empathy.Data.Entities.Sede

@{
    ViewData["Title"] = "Delete";
}

<h1>Borrar sede</h1>

<h3>¿Estas seguro de borrar está sede?</h3>
<div>
    <h4>Sede</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameCampus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameCampus)
        </dd>

    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <div class="form-group mt-2">
        <input type="submit" value="Delete" class="btn btn-outline-danger" /> |
         
        <a asp-action="Index" class="btn btn-outline-success">Regresar</a>
    </form>
</div>
