@model Empathy.Models.CreateProfessionalViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Professional</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NameProfessional" class="control-label"></label>
                <input asp-for="NameProfessional" class="form-control" />
                <span asp-validation-for="NameProfessional" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Specialty" class="control-label"></label>
                <input asp-for="Specialty" class="form-control" />
                <span asp-validation-for="Specialty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SedeId" class="control-label"></label>
                <select asp-for="SedeId" asp-items="Model.Sedes" class="form-control"></select>
                <span asp-validation-for="SedeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

