@model Empathy.Models.DateTimerViewModel
<div class="form-group">
    <label asp-for="Date" class="control-label"></label>
    <input asp-for="Date" class="form-control" />
    <span asp-validation-for="Date" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="MediumTime" class="control-label"></label>
    <input asp-for="MediumTime" class="form-control" />
    <span asp-validation-for="MediumTime" class="text-danger"></span>
</div>