@model Empathy.Models.DoctorViewModel
<div class="form-group">
    <label asp-for="NameDoctor" class="control-label"></label>
    <input asp-for="NameDoctor" class="form-control" />
    <span asp-validation-for="NameDoctor" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="SpecialtyDoc" class="control-label"></label>
    <input asp-for="SpecialtyDoc" class="form-control" />
    <span asp-validation-for="SpecialtyDoc" class="text-danger"></span>
</div>