@model Empathy.Data.Entities.Doctor
<h4>Doctores</h4>
<hr />
<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.NameDoctor)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.NameDoctor)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.SpecialtyDoc)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.SpecialtyDoc)
    </dd>
</dl>