@model Empathy.Data.Entities.Appointment
<h4>País</h4>
<hr />
<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.DateTime)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.DateTime)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Reason)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Reason)
    </dd>
</dl>
