/* Estilos para el formulario de inicio de sesión */
body {
    background-color: #101010;
    color: #FFFFFF;
    font-family: 'Arial', sans-serif;
}

.container {
    text-align: center;
    margin-top: 20px;
}

h3 {
    font-size: 24px;
    font-weight: bold;
    color: #00A0E4;
}

.form-control {
    background-color: #222;
    color: #FFFFFF;
    border: 2px solid #00A0E4;
    border-radius: 5px;
    padding: 10px;
    margin: 5px 0;
}

.form-check-input {
    border: 2px solid #00A0E4;
    border-radius: 5px;
}

.form-check-label {
    color: #00A0E4;
    font-weight: bold;
}

.btn {
    background-color: #00A0E4;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

    .btn:hover {
        background-color: #0078A8;
    }

/* Estilos para los mensajes de validación */
.text-danger, .text-warning {
    color: #FF4646;
    font-weight: bold;
}

/* Estilos para el enlace de registro */
.btn-outline-secondary {
    background-color: transparent;
    border: 2px solid #00A0E4;
    color: #00A0E4;
}

    .btn-outline-secondary:hover {
        background-color: #00A0E4;
        color: #FFFFFF;
    }

/* Estilos adicionales para darle un aspecto futurista */
.row {
    justify-content: center;
}

.form-group {
    text-align: left;
}

    .form-group label {
        font-weight: bold;
    }

    .form-group mt-2 {
        margin-top: 20px;
    }
