@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/Empathy.styleBanner.css" asp-append-version="true" />
<div class="text-center">
    <h1 class="display-4">Empathy Web</h1>
    <br />
    <body>
        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
        {
            <div class="contenedor">
                <a href="https://localhost:7202/Countries" class="enlace">
                    <h2>Paises</h2>
                    <p>Aquí puedes agregar nuvos paises, departamentos y ciudades</p>
                </a>
                <a href="https://localhost:7202/Users" class="enlace">
                    <h2>Usuarios</h2>
                    <p>Aquí puedes administrar los usuarios registrados y crear nuevos profesionales o administradores</p>
                </a>
                <a href="https://localhost:7202/Campus" class="enlace">
                    <h2>Sedes</h2>
                    <p> Aquí puedes administrar las sedes y los profesionales (doctores)</p>
                    </a>
                <a href="https://localhost:7202/Procedures" class="enlace">
                    <h2> Procedimientos</h2>
                    <p>Aquí puedes administrar los procedimientos nuevoso actuales de la compañía</p>
                    </a>
                <a href="https://localhost:7202/Appointments" class="enlace">
                    <h2>Citas Médicas</h2>
                    <p>Aquí puedes Agendar / Modificar / Cancelar una cita médica</p>
                </a>
                <a href="https://localhost:7202/Histories" class="enlace">
                    <h2>Historias Médicas</h2>
                    <p>Aquí puedes revisar las Historias Clinicas realizadas</p>
                </a>
            </div>
        }

        @if (User.Identity.IsAuthenticated && User.IsInRole("User"))
        {
            <div class="contenedor">
                <a href="https://localhost:7202/Appointments" class="enlace">
                    <h2>Citas Médicas</h2>
                    <p>Aquí puedes Agendar / Modificar / Cancelar una cita médica</p>
                </a>
                <a href="https://localhost:7202/Histories" class="enlace">
                    <h2>Historias Médicas</h2>
                    <p>Aquí puedes revisar las Historias Clinicas realizadas</p>
                </a>
            </div>
        }

        @if (User.Identity.IsAuthenticated && User.IsInRole("Professional"))
        {
            <div class="contenedor">
                <a href="https://localhost:7202/Appointments" class="enlace">
                    <h2>Cidas Médicas</h2>
                    <p>Aquí puedes revisar las citas programadas y gestionarlas</p>
                </a>
                <a href="https://localhost:7202/Histories" class="enlace">
                    <h2>Historias Médicas</h2>
                    <p>Aquí puedes registrar una nueva historia médica</p>
                </a>
            </div>
        }
    </body>

    <br />
  
</div>
